.header-section {
    .calendar {
        padding: 15px;
        line-height: 1;
        width: 200px;
        color: rgba(0, 0, 0, 0.7);
        .year {
            color: #E74C3C;
            padding: 10px 0px;
            font-size: 18px;
        }
        .month {
            a {
                color: rgba(0, 0, 0, 0.7);
                padding: 10px 3px;
                width: 50px;
                margin: 4px;
                border-radius: 3px;
                font-size: 14px;
                background: #fff;
                display: inline-block;
                &:hover,
                &.active {
                    color: #fff;
                    background: #E74C3C;
                }
            }
        }
    }
}