.profile{
    min-width: 250px;
    .title{
        font-size: 25px;
        margin-top: 10px;
        padding: 20px;
        font-weight: 600;
        border-bottom: 1px solid #eaeaea;
        text-transform: uppercase;
        text-align: left;
    }
    .menu {
        border-bottom: 1px solid #eaeaea;
        padding: 10px 0;
    }
    a{
        display: inline;
        &:hover {
            background: transparent;
        }
    }
    .user{
        text-align: center;
        border-bottom: 1px solid #eaeaea;
        font-weight: 600;
        p {
            padding: 0 2.5em;
        }
        svg {
            font-size: 6em;
            color: #666;
            padding-bottom: 3px;
        }
        span {
            font-weight: 400;
            color: #666;
        }
        
    }
}