/**
    Home styles 
**/ 

.home {
    
   .calendar,
   .memberships {
        position: fixed;
        top: 0;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        z-index: -1;
        margin-bottom: 30px;
    }
    .calendar{
        width: 100%;
        left: 0;
        .content-left {
            width: 100%;
            position: relative;
            padding-left: 45px;
            padding-right: 350px;
        }
        ul {
            width: 100%;
            height: auto;
            li {
                border-top: 1px solid #eaeaea;
                border-right: 1px solid #eaeaea;
                float: left;
                width: 33%;
                position: relative;
                
                .zone{
                    min-height: 140px;
                    width: 100%;
                }
            }
        }
   }
   .memberships {
        width: 350px;
        right: 0;
   }
}
