@import '../../node_modules/purecss-sass/vendor/assets/stylesheets/purecss/_base.scss';
@import '../../node_modules/purecss-sass/vendor/assets/stylesheets/purecss/_buttons.scss';
@import '../../node_modules/purecss-sass/vendor/assets/stylesheets/purecss/_forms.scss';
@import '../../node_modules/purecss-sass/vendor/assets/stylesheets/purecss/_grids-responsive.scss';
@import '../../node_modules/purecss-sass/vendor/assets/stylesheets/purecss/_grids.scss';
@import '../../node_modules/purecss-sass/vendor/assets/stylesheets/purecss/_menus.scss';
@import '../../node_modules/purecss-sass/vendor/assets/stylesheets/purecss//_tables.scss';
body {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 200;
}

.bold {
    font-weight: 700;
}

* {
    letter-spacing: -.1px;
}

#main {
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

#layout {
    padding-left: 240px;
    left: 0;
}

section {
    width: auto;
}

.f-right {
    float: right;
}

.header {
    height: 48px;
    border-bottom: 1px solid #E74C3C;
    background: rgba(0, 0, 0, 0.05);
    line-height: 48px;
    span,
    a {
        line-height: 1;
    }
}

.__react_component_tooltip {
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
    padding: 0 !important;
    font-size: 14px !important;
}

hr {
    background: rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    height: 1px;
    border: 0;
}

.__react_component_tooltip.show {
    pointer-events: all;
    opacity: 1 !important;
}