nav {
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0px;
    width: 45px;
    margin-bottom: 30px;
    overflow: hidden;
    background: rgba(242, 242, 242, 1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    ul {
        position: absolute;
        width: 100%;
        &.top{
            top: 0;
        }
        &.bottom{
            bottom: 0;
        }

        li {
            text-align: center;
            a {
                padding: 7px 0;
                display: block;
                background: transparent;
                color:  #8F75B6;
                &:hover{
                    background: rgba(131, 51, 255, 0.1);
                    
                }
            }
        }
    }
   
}

svg {
    position: relative;
    font-size: 1.4em;
}