nav {
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0px;
    width: 45px;
    margin-bottom: 30px;
    overflow: hidden;
    background: #f4f4f4;
    border-right: 1px solid #eaeaea;
    ul {
        position: absolute;
        width: 100%;
        &.top{
            top: 0;
        }
        &.bottom{
            bottom: 0;
        }

        li {
            text-align: center;
            a {
                color: #666666;
                padding: 7px 0;
                display: block;
                background: transparent;
                &:hover{
                    background: #C7E0F4;
                    color:  rgba(7, 71, 166, 1);
                }
                
            }
        }
    }
}

svg {
    position: relative;
    font-size: 19px;
}