.membership {
    width: 100%;
    border-left: 1px solid #eaeaea;
    .title{
            text-transform: uppercase;
            padding: 20px;
            font-size: 25px;
            font-weight: 600;
            border-bottom: 1px solid #eaeaea;
            span {
                color: #0747a6;
                font-size: 16px;
                font-weight: 400;
            }
        }
        .search {
            background: #f4f4f4;
            padding: 5px 10px;
            input {
                margin-top: 0px;
            }
        }
        .formControl {
            margin: 0;
        }
        .list {
            margin-top: 115px;
            position: fixed;
            width: 350px;
            bottom: 0;
            height: auto;
            right: 0;
            top: 0;
            margin-bottom: 30px;
            overflow-y: auto;
            ul {
                border-top: 1px solid #eaeaea;
                li {
                    text-transform: uppercase;
                    a {
                        display: block;
                        p {
                            margin: 0 12px;
                            border-bottom: 1px solid #eaeaea;
                            padding: 10px 0;
                        }
                        &:hover{
                            background: #C7E0F4;
                            color:  rgba(7, 71, 166, 1);
                        }
                    }
                }
            }
        }
    
}
