footer{
    background: rgba(7, 71, 166, 1);
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    p{
        margin: 0;
        line-height: auto;
        padding: 0 15px;
        &.title-app{
            flex: 1 20%;
        }
        &.coypright{
            flex: 1 100%;
            text-align: right;
        }
    }
}