.add {
    min-width: 350px;
    text-align: left;
    ul li a:hover,
    a:hover{
        background: transparent;
    }
    .title{
        font-size: 25px;
        margin-top: 10px;
        padding: 20px;
        font-weight: 600;
        border-bottom: 1px solid #eaeaea;
    }
    .title, .menu {
        text-transform: uppercase;
    }
    .menu {
        text-align: center;
        border-bottom: 1px solid #eaeaea;
        a {
            display: inline-block;
            padding: 10px;
            border-bottom: 2px solid transparent;
            &:hover,
            &.active{
                border-bottom: 2px solid rgba(7, 71, 166, 1);
            }
            
        }
    }
    .add-member{
        form{
            padding: 5px 20px 20px 20px;
            width: 480px;
            table {
                width: 100%;
                margin-top: 15px;
            }
        }
    }
}