$primaryColor: #3B3C3D;
$primaryColored: #4C4C4B;
$primaryColorHover: #6F6F6C;
$secondColor: #D67209;
$thirdColor: #F2F3F4;
$secondColorhover: rgba(255, 255, 255, 0.9);
$heightHeader: 45px;
$heightCalendar: 41px;
$widthNav: 280px;
$white: #fff;
$blue: #4267B2;
$bgNav: #fafafa;
$borderNav: #ebebeb;
$fontColor: #212121;
$fontColorMedium: #666;
$fontColorSmall: #999;
$fontSize: 17px;